*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{


background:black;

color:white;

font-family:Arial;

overflow:hidden;


}




.hero{


height:100vh;


background:

linear-gradient(
90deg,
rgba(0,0,0,.8),
rgba(0,0,0,.2)
),

url("assets/background.png");



background-size:cover;

background-position:center;

position:relative;


}





header{


position:absolute;

top:0;

width:100%;

display:flex;

justify-content:space-between;

padding:30px 60px;

z-index:20;


}



.brand img{


width:180px;

filter:

drop-shadow(
0 0 20px purple
);


}



nav{


display:flex;

gap:40px;

align-items:center;

}



nav button{


background:#8700ff;

border:0;

color:white;

padding:15px 35px;

border-radius:30px;


}




h1{


position:absolute;

left:5%;

top:30%;


font-family:

"Luckiest Guy";


font-size:150px;


font-style:italic;


text-shadow:

0 0 30px purple;


z-index:3;


}




#subtitle{


position:absolute;

left:6%;

top:52%;


font-size:30px;

letter-spacing:8px;

color:#e000ff;


}



#marble{


position:absolute;


right:10%;


top:15%;


width:550px;



filter:

drop-shadow(
0 0 60px blue
);



animation:

float 5s infinite;


}



@keyframes float{


50%{

transform:translateY(-40px);

}

}




.cards{


position:absolute;

bottom:20px;

width:100%;


display:flex;

gap:20px;

padding:20px;


}



.card{


flex:1;


background:

rgba(20,0,40,.7);



border:

1px solid purple;



padding:25px;



backdrop-filter:

blur(20px);



}



.card h2{


color:#ff00dd;


}




/* EDITOR */


#editorToggle{


position:fixed;

top:20px;

left:20px;


z-index:9999;


background:#8500ff;

color:white;


padding:15px 25px;

border:0;

border-radius:30px;


}





#editorPanel{


display:none;


position:fixed;


top:80px;

left:20px;


background:#120020;

padding:20px;


border-radius:20px;


z-index:9999;


}




#editorPanel button,
#editorPanel input{


display:block;


margin:10px;


padding:10px;


}



.editing{


outline:

2px dashed #ff00ff;


cursor:move;


}





@media(max-width:900px){


h1{

font-size:70px;

}



#marble{


width:350px;


right:-50px;


}


.cards{

flex-direction:column;

overflow:auto;

}


}
