*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{


background:black;

color:white;

font-family:Arial;


overflow:hidden;


}





.hero{


height:100vh;


background:

linear-gradient(
90deg,
rgba(0,0,0,.8),
rgba(0,0,0,.2)
),

url("./assets/background.png");



background-size:cover;


background-position:center;


position:relative;


}




header{


position:absolute;


top:0;


width:100%;


display:flex;


justify-content:space-between;


align-items:center;


padding:30px 60px;


z-index:50;


}




.brand img{


width:170px;


}



nav{


display:flex;


gap:40px;


align-items:center;


}



nav a{


letter-spacing:3px;


}



nav button{


background:#8500ff;


border:none;


padding:15px 35px;


color:white;


border-radius:30px;


}



h1{


position:absolute;


left:5%;


top:30%;


font-family:"Luckiest Guy";


font-size:140px;


font-style:italic;


text-shadow:

0 0 30px purple;


}



.hero p{


position:absolute;


left:6%;


top:52%;


font-size:30px;


letter-spacing:7px;


color:#e000ff;


}




.marble{


position:absolute;


right:10%;


top:15%;


width:550px;


filter:

drop-shadow(
0 0 50px blue
);


animation:

float 5s infinite;


}



@keyframes float{


50%{


transform:translateY(-30px);


}


}






.cards{


position:absolute;


bottom:20px;


width:100%;


display:flex;


gap:20px;


padding:20px;


}




.card{


flex:1;


padding:25px;


background:

rgba(20,0,40,.7);



border:

1px solid purple;



backdrop-filter:

blur(20px);



}




.card h2{


color:#ff00dd;


}





/* EDITOR */


#editorToggle{


position:fixed;


top:20px;


left:20px;


z-index:99999;


background:#8500ff;


color:white;


border:none;


padding:15px 25px;


border-radius:30px;


}



#editorPanel{


display:none;


position:fixed;


top:80px;


left:20px;


z-index:99999;


background:#120020;


padding:20px;


border-radius:20px;


}



#editorPanel button,
#editorPanel input{


display:block;


margin:10px;


padding:10px;


}




.editing{


outline:

3px dashed #ff00ff;


cursor:move;


}





@media(max-width:900px){



h1{


font-size:70px;


}



.marble{


width:350px;


}



.cards{


flex-direction:column;


overflow:auto;


}


}
